*.o
*.exe
*.dll
*.zip
.vs
x64
Debug
FelicityEgtb.xcodeproj/project.xcworkspace/xcshareddata/*
FelicityEgtb.xcodeproj/project.xcworkspace/xcuserdata/*
FelicityEgtb.xcodeproj/project.xcworkspace/xcuserdata
