*.o
*.exe
*.dll
*.zip
.vs
*.app
*.exp
*.pdb
*.ilk
*.dSYM/*.*


*/x64*
*/.vs*
*/Debug*
.DS_Store
*.DS_Store
*.user
*.filters

*.pro.user
*.pro.user.*
*.pro.user*
*.zip


x64
Debug
FelicityEgtb.xcodeproj/project.xcworkspace/xcshareddata/*
FelicityEgtb.xcodeproj/project.xcworkspace/xcuserdata/*
FelicityEgtb.xcodeproj/project.xcworkspace/xcuserdata
